
/* const styles = StyleSheet.create({
    container: {
      flex: 1,
      flexDirection: 'row',
      flexWrap: 'wrap',
      backgroundColor: '#fff',
      //alignItems: 'center',
      //justifyContent: 'center',
      //padding:2,
    }, */
    .menubar{
        display: flex;
        height: 60;
        min-width: 150;
        /* max-width: Dimensions.get('window').width; */
        background: '#000000';
        justify-content: 'center';
        align-items: 'center';
        color:'#ffffff'; 
    }
    /* buttonBar:{
      height: 50,
      //minWidth: 150,
      maxWidth: Dimensions.get('window').width,
      backgroundColor: '#000055',
      justifyContent: 'center',
      alignItems: 'center',
      //textColor:{color: '#ffffff'},
    },
    graphBox:{
      //margin: 2,
      
      width: Dimensions.get('window').width/2 -6,
      height: 200,
      //backgroundColor: '#eeeeee',
      backgroundColor: '#ff0000',
      justifyContent: 'center',
      alignItems: 'stretch',
      //padding: 30,
  
    },
  
  });
   */